<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Company-Performance-Analysis-Tool</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>

    <body>
        <header>
            <h1>Company Performance Analysis Tool</h1>
        </header>
        
        <main class="centered">
            <h2>Browse company statistics</h2>

            <form id="search-form" action="" onsubmit="return false">
                <input type="text" id="search-field" name="company" placeholder="Company name or CUI" required maxlength="130">
                <input type="submit" id="search-button" value="Predict">
            </form>
        </main>
        
        <script src="{{ url_for('static', filename='index.js') }}"></script>
    </body>
</html>