/* fonts */
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif);

:root {
    --dark: #001021;
    --light: #11B5E4;
    --green: #034748;
    --blue: #1481BA;

    font-family: "Pt Sans", helvetica, sans-serif;
}

body {
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.centered {
    display: block;
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h1 {
    font-weight: bold;
    color: var(--green);
}

h2 {
    font-size: 24px;
    font-family: "droid serif";
    font-style: italic;
    margin-bottom: 0;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input {
    border: none;
    outline: none;
    display: block;
    height: 38px;
    width: 500px;
    border-radius: 52px;
    box-sizing: border-box;
    padding: 0 18px;
}

input[type="text"] {
    outline: var(--blue) inset 4px;
    margin: 20px;
    font-size: 15px;
    font-family: "Pt Sans", helvetica, sans-serif;
}

input[type="submit"] {
    background: var(--blue);
    color: #fff;
    font-size: 15px;
    letter-spacing: 1px;
    width: 100px;
    cursor: pointer;
}